
*{
    padding: 0;
    margin: 0;
}


.navbar{
    background-color: #1DB6F0;
    height: 70px;
    display: grid;
  grid-template-columns: 1fr 2fr 1fr;

}



.firstpart{
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstpart img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.firstpart h1{
    color: #fff;
    margin-left: 10px;
}



.navbar ul {
    display: flex;
    height: 50px;
    align-items: center;
}

.navbar ul li {
    text-decoration: none;
    list-style: none;
    align-items: center;
}


.mainpart{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

